@import "tailwindcss";

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@theme {
  --font-primary: "Press Start 2P", sans-serif;

  --color-gradient-top: #1a1c2a;
  --color-gradient-bottom: #2d1e3a;

  --color-popover: #ffffff;
  --color-popover-foreground: #010101;
  --color-primary: oklch(0.8242 0.2164 128.31);
  --color-primary-foreground: oklch(0.4 0.156 127.71);
  --color-secondary: oklch(0.7633 0.160662 75.5066);
  --color-secondary-foreground: oklch(0.5569 0.1164 77.27);
  --color-card: oklch(0.8853 0 0);
  --color-card-foreground: oklch(0 0 0);

  --color-background: oklch(0.8853 0 0);
  --color-foreground: #000000;
  --color-destructive: #cb0052;

  --color-input: oklch(1 0 0 / 0.15);

  --color-muted: oklch(0.269 0 0);
  --color-muted-foreground: oklch(0.708 0 0);
}

@layer utilities {
  .container {
    width: min(calc(100% - 2rem), 40rem);
    @media (width >= 40rem /* 640px */) {
      width: min(calc(100% - 4rem), 40rem);
      max-width: 40rem /* 640px */;
    }
    @media (width >= 48rem /* 768px */) {
      width: min(calc(90% - 2rem), 48rem);
      max-width: min(calc(100% - 2rem), 48rem) /* 768px */;
    }
    @media (width >= 64rem /* 1024px */) {
      width: min(calc(100% - 2rem), 64rem);
      max-width: 64rem /* 1024px */;
    }
    @media (width >= 80rem /* 1280px */) {
      width: min(calc(100% - 4rem), 80rem);
      max-width: 80rem /* 1280px */;
    }
    @media (width >= 96rem /* 1536px */) {
      width: min(calc(100% - 4rem), 96rem);
      max-width: 96rem /* 1536px */;
    }
  }
}
